.friend {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 4px 0px rgba(145, 145, 145, 0.38);
    gap: 15px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.friend:last-child {
    margin-bottom: 0;
}

.avatar {
    height: 100px;
    border-radius: 6px;
}

.isOnline {
    display: block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}

.isOffline {
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.avatarImage {
    width: 94px;
    height: 94px;
}